<div>
    <div style = "text-align: center;">
        <div class="my-5">
            <h1 style="font-family: 'Noto Sans KR', sans-serif;">
                Split
            </h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if user.is_authenticated %}
                <span>
                    <a href="{% url 'accountapp:logout' %}">
                        Logout
                    </a>
                </span>
                {% else %}
                <span>
                    <a href="{% url 'accountapp:login' %}">
                        Login
                    </a>
                </span>
                <span>
                    <a href="{% url 'accountapp:create' %}">
                        SignUp
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
</div>
